/* ==========================================================================
   Testimonials standard style - begin
   ========================================================================== */

.edgtf-testimonials-holder {
    
    &.edgtf-testimonials-standard {
        text-align: center;

        .edgtf-testimonial-image {
            @include edgtfRelativeHolderLayout();
            margin: 25px 0 0;

            img {
                display: block;
                margin: 0 auto;
            }
        }
        .owl-stage-outer,
        .owl-dots{
            background-color: transparent!important;
        }
        .owl-dots{
          padding: 0 220px 25px 0!important;
        }
        .edgtf-testimonial-title {
            margin: 0;
        }
        .edgtf-testimonial-author {
            margin: 24px 0 0;
        }

        .edgtf-testimonial-text {
            margin: 43px 0 54px 0;
            color: #000;
        }

        /* Light/Dark styles */
        &.edgtf-testimonials-light {
            
            .edgtf-testimonial-title,
            .edgtf-testimonial-text,
            .edgtf-testimonial-author {
                color: #000;
            }

            .owl-dots {
                
                .owl-dot {
                    
                    span {
                        border: 2px solid rgba(#fff, .5);
                    }
                    
                    &:hover,
                    &.active {

                        span {
                            background-color: #fff;
                            border-color: #fff;
                        }
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   Testimonials standard style - end
   ========================================================================== */