/* ==========================================================================
   Global partials
   ========================================================================== */
@import '../../../../../themes/galatia/assets/css/scss/variables';
@import '../../../../../themes/galatia/assets/css/scss/mixins';

/* ==========================================================================
   Widgets styles
   ========================================================================== */
@import '../../../widgets/assets/css/scss/default/*.scss';