/* ==========================================================================
   Countdown shortcode responsive style - begin
   ========================================================================== */

@include laptop-landscape {
	
	.edgtf-countdown {
		
		.countdown-row {
			
			.countdown-section {
				
				.countdown-amount {
					font-size: 60px;
				}
			}
		}
	}
}

@include ipad-portrait {
    
    .edgtf-countdown {
        
        .countdown-row {
	        
            &.countdown-show4,
            &.countdown-show5,
            &.countdown-show6 {
	
	            .countdown-section {
		            width: 33.33333333333333%;
	            }
            }
	
	        .countdown-section {
		
		        .countdown-amount {
			        font-size: 50px;
		        }
	        }
        }
    }
}

@include phone-landscape {
	
	.edgtf-countdown {
		
		.countdown-row {
			
			.countdown-section {
				
				.countdown-amount {
					font-size: 40px;
				}
			}
		}
	}
}

@include phone-portrait {
	.edgtf-countdown {

		.countdown-row {

			.countdown-section {

				margin-bottom: 20px;
			}
		}
	}
}
/* ==========================================================================
   Countdown shortcode responsive style - end
   ========================================================================== */