/* ==========================================================================
   Roadmap shortcode style - begin
   ========================================================================== */

.edgtf-roadmap {
	@include phone-landscape{
		padding-top: 100px !important; //important because od the inline style

		.edgtf-roadmap-item.edgtf-roadmap-item-above{
			.edgtf-roadmap-item-stage-title-holder{
				top: auto;
				bottom: 35px;
			}

			.edgtf-roadmap-item-content-holder{
				top: 75px;
				bottom: auto;

				&:after{
					top: auto;
					bottom: 100%;
				}
			}
		}
	}
}
/* ==========================================================================
   Roadmap shortcode style - end
   ========================================================================== */