/* ==========================================================================
   Full Screen Sections shortcode style - begin
   ========================================================================== */

html.fp-enabled,
.fp-enabled body {
	margin: 0;
	padding: 0;
	overflow:hidden;
	
	/*Avoid flicker on slides transitions for mobile phones #336 */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#superContainer {
	height: 100%;
	position: relative;
	
	/* Touch detection for Windows 8 */
	-ms-touch-action: none;
	
	/* IE 11 on Windows Phone 8.1*/
	touch-action: none;
}

.fp-scrollable {
	overflow: hidden;
	position: relative;
}

.fp-scroller {
	overflow: hidden;
}

.iScrollIndicator {
	border: 0 !important;
}

.fp-notransition {
	-webkit-transition: none !important;
	transition: none !important;
}

.fp-auto-height.edgtf-fss-item,
.fp-auto-height .edgtf-fss-slide,
.fp-auto-height .fp-tableCell {
	height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.edgtf-fss-item,
.fp-responsive .fp-auto-height-responsive .edgtf-fss-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
	height: auto !important;
}

#fp-nav {
	position: fixed;
	top: 50%;
	right: 63px;
	margin: -32px 0 0;
	z-index: 9999;
	transition: opacity 0.2s ease;

	@include ipad-landscape{
		top: calc(50% + 25px);
	}

	.edgtf-fullscreen-menu-opened &{
		opacity: 0;
	}
	
	@include ipad-landscape {
		right: 130px;
	}

	@include ipad-portrait {
		right: 85px;
	}

	@include phone-portrait{
		right: 35px;
		top: auto;
		bottom: 25px;
	}

	ul {
		margin: 0;
		padding: 0;
		
		li {
			position: relative;
			display: block;
			margin: 0;
			padding: 0;
			
			a {
				display: block;
				padding: 7px 0;
				box-sizing: border-box;

				span{
					position: relative;
					width: 40px;
					height: 1px;
					display: block;
					background-color: #000;
					border-radius: 0;
					z-index: 1;
					transition: transform .2s ease-in-out;
					transform-origin: 100% 50%;
				}
				
				&.active,
				&:hover {
					span {
						transform: scaleX(1.7);
						background-color: #000;
					}
				}
				
				.edgtf-light-header & {
					
					span {
						background-color: rgba(#fff, .3);
					}
					
					&.active,
					&:hover {
						
						span {
							background-color: #fff;
						}
					}
				}
				
				.edgtf-dark-header & {
					
					span {
						background-color: rgba(#000, .3);
					}
					
					&.active,
					&:hover {
						
						span {
							background-color: #000;
						}
					}
				}
				
				span {
					position: relative;
					display: block;
				}
			}
		}
	}
}

.edgtf-full-screeen-spotlight-slider-holder {
	&.edgtf-full-screen-sections {
		@include edgtfRelativeHolderLayout();

		.edgtf-fss-wrapper {
			visibility: hidden;
		}

		.edgtf-fss-item {
			@include edgtfTableLayout();
			margin: 0;
			padding: 0;
			background-position: center;
			background-size: cover;
			box-sizing: border-box;
			transition: transform .3s ease;

			.edgtf-fsss-image-holder {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: all 0.8s ease;

				@include ipad-landscape{
					top: calc(50% + 35px);
				}

				img{
					display: block;
				}

				&.edgtf-show{
					opacity: 1;
					transition: all 0.7s ease;
				}
			}

			.edgtf-fsss-content-holder {
				position: relative;
				opacity: 0;
				transition: opacity 0.3s ease 0s;

				@media only screen and (min-width: 1367px) and (max-width: 1440px){
					margin-left: 18px;
				}

				&.edgtf-show{
					opacity: 1;
					transition-delay: 0.3s;
				}

				@include ipad-landscape {
					/*margin-left: 10%;*/

					.edgtf-fsss-content-inner{
						padding-top: 35px;
						box-sizing: border-box;
					}

				}

				@include ipad-portrait {
					/*margin-left: 9%;*/
				}

				@include phone-landscape {
					/*margin-left: 5%;*/
				}

				.edgtf-st-text {
					margin-bottom: 69px;
					display: block;
					font-size: 80px;
					line-height: 1.05em;

					@include laptop-landscape-large {
						margin-bottom: 0;
						font-size: 70px;
					}

					@include phone-landscape{
						font-size: 46px;
					}
				}

				.edgtf-st-title {
					font-size: 15px;
					margin: 35px 0 14px;

					@include laptop-landscape-large {
						margin-top: 0;
					}
				}
			}
			/*&.active {
				transform: scale(0.92);

				&.fp-completely {
					transform: scale(1);
				}
			}

			&.fp-completely {

				&:not(.active) {
					transform: scale(0.92);
				}
			}*/

			.fp-scroller {

				> .vc_column_container {
					padding: 0;
					margin: 0;

					> .vc_column-inner {
						padding: 0;
						margin: 0;
					}
				}
			}

			&.edgtf-fss-item-va-top {

				.edgtf-fss-item-inner {
					vertical-align: top;
				}
			}

			&.edgtf-fss-item-va-bottom {

				.edgtf-fss-item-inner {
					vertical-align: bottom;
				}
			}

			&.edgtf-fss-item-ha-left {

				.edgtf-fss-item-inner {
					text-align: left;
				}
			}

			&.edgtf-fss-item-ha-center {

				.edgtf-fss-item-inner {
					text-align: center;
				}
			}

			&.edgtf-fss-item-ha-right {

				.edgtf-fss-item-inner {
					text-align: right;
				}
			}

			&.edgtf-fss-item-has-link {

				.edgtf-fss-item-inner {

					a {
						position: relative;
						z-index: 2;
					}
				}
			}

			.edgtf-fss-item-inner {
				@include edgtfTableCellLayout();
				padding: 3%;
				box-sizing: border-box;

				a {
					position: relative;
					z-index: 2;
				}
			}

			.edgtf-fss-item-link {
				@include edgtfAbsoluteHolderLayout();
				z-index: 1;
			}
		}

		.edgtf-fss-nav-holder {
			position: fixed;
			bottom: 48px;
			left: 57px;
			display: block;
			width: 55px;
			text-align: center;
			visibility: hidden;
			z-index: 1001;

			a {
				display: block;
				font-size: 55px;
				line-height: 0.9;
				color: $default-heading-color;
				height: auto;
				opacity: 1;
				transition: color .2s ease-out, opacity .25s ease-out;

				&:hover {
					color: rgba($default-heading-color, .7);
				}

				.edgtf-light-header & {
					color: #fff;

					&:hover {
						color: rgba(#fff, .7);
					}
				}

				.edgtf-dark-header & {
					color: #000;

					&:hover {
						color: rgba(#000, .7);
					}
				}

				span {
					display: block;
					line-height: inherit;

					&:before {
						display: block;
						line-height: inherit;
					}
				}
			}

			@include ipad-landscape {
				bottom: 28px;
				left: 37px;
			}
		}
	}

	.edgtf-fsss-item-bg-placeholder{
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		opacity: 0;
		transition: all .75s ease;

		&.edgtf-show{
			opacity: 1;
		}
	}
}
/* ==========================================================================
   Full Screen Sections shortcode style - end
   ========================================================================== */