/* ==========================================================================
   Split Section styles - begin
   ========================================================================== */

.edgtf-ss-holder {
	@include edgtfRelativeHolderLayout();

	&.edgtf-ss-image-right {
		
		.edgtf-ss-image {
			left: 50%;
		}

		.edgtf-ss-content {
			left: 0;
		}
	}
	
	.edgtf-ss-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		
		img {
			display: none
		}
	}

	.edgtf-ss-content {
		position: relative;
		display: inline-block;
		vertical-align: top;
		left: 50%;
		width: 50%;
		padding: 30px;
		box-sizing: border-box;
	}
	
	.edgtf-ss-title {
		margin: 0;
	}
	
	.edgtf-ss-text {
		margin: 14px 0 0;
	}
	
	.edgtf-ss-link {
		margin: 25px 0 0;
	}
}
/* ==========================================================================
   Split Section styles - end
   ========================================================================== */